In [1]:
# project: p12
# submitter: yye64
# partner: none
# hours: 5

In [1]:
import requests
import os
import json
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
def download(filename, url):
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    try:
        r = requests.get(url)
        r.raise_for_status()
        data_read = r.text 
        file = open(filename, "w")
        file.write(data_read)
        file.close()
    except requests.HTTPError as e:
        print("HTTPError", e)
    
    return (str(filename) + " created!")

In [3]:
download("rankings.json", "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/rankings.json")

'rankings.json already exists!'

In [5]:
json_file = pd.read_json("rankings.json")
rankings = pd.DataFrame(json_file)
rankings

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
1,2,2019-2020,Massachusetts Institute of Technology,USA,2,1.0,10.0,2.0,5.0,96.7
2,3,2019-2020,Stanford University,USA,3,9.0,3.0,3.0,2.0,95.2
3,4,2019-2020,University of Cambridge,United Kingdom,1,4.0,19.0,5.0,11.0,94.1
4,5,2019-2020,University of Oxford,United Kingdom,2,10.0,24.0,10.0,4.0,93.3
...,...,...,...,...,...,...,...,...,...,...
5995,1996,2021-2022,Santa Catarina State University,Brazil,56,NaN,936.0,NaN,1938.0,65.8
5996,1997,2021-2022,Yancheng Institute of Technology,China,275,NaN,NaN,NaN,1920.0,65.7
5997,1998,2021-2022,Xi'an University of Science and Technology,China,276,NaN,994.0,NaN,1937.0,65.7
5998,1999,2021-2022,CEU San Pablo University,Spain,53,NaN,568.0,NaN,1992.0,65.7
5999,2000,2021-2022,Huzhou University,China,277,NaN,NaN,NaN,1922.0,65.7

In [6]:
download("2019-2020.html", 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2019-2020.html')
download("2020-2021.html", 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2020-2021.html')
download("2021-2022.html", 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2021-2022.html')

'2021-2022.html created!'

In [7]:
#Q1: How many countries do we have in our dataset?
country_set = set(rankings["Country"])
country_count = len(country_set)
country_count

103

In [29]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on "World Rank" (Note: highest rank is 1).
highest_rank_uni = rankings[ (rankings["World Rank"] == 1) ] 
highest_rank_uni

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [9]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".

uw_madison = rankings[ (rankings["Institution"] == "University of Wisconsin–Madison") ] 
uw_madison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [10]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?

data_21_22 = uw_madison[ (uw_madison["Year"]=="2021-2022") ]
data_21_22["National Rank"].iloc[0]

19

In [11]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?

score_series_uwmadison = pd.Series (uw_madison["Score"])
pd.Series.mean(score_series_uwmadison)

87.26666666666667

In [12]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 2020-2021.

singapore_20_21 = rankings[ (rankings["Country"]=="Singapore") & (rankings["Year"] == "2020-2021") ]
singapore_20_21

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [13]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?

german_19_20 = rankings[ (rankings["Country"]=="Germany") & (rankings["Year"]=="2019-2020") ]

german_best = german_19_20[ german_19_20["National Rank"] == 1]
german_best_name = german_best["Institution"].iloc[0]
german_best_name

'Ludwig Maximilian University of Munich'

In [14]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the highest-ranked institution in Germany.

usa_19_20 = rankings[ (rankings["Country"]=="USA") & (rankings["Year"]=="2019-2020") ]
german_world_rank = german_best["World Rank"].iloc[0]
better_rank_usa_df = usa_19_20[ (usa_19_20["World Rank"]< german_world_rank ) ]

better_rank_usa = list(better_rank_usa_df["Institution"])
better_rank_usa

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [15]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the year 2021-2022?

china_21_22 = rankings[ (rankings["Country"]=="China") & (rankings["Year"] == "2021-2022") ]
china_highest_rank_21_22 = china_21_22[ (china_21_22["Quality of Education Rank"] == pd.Series.min(china_21_22["Quality of Education Rank"]))]
china_highest_rank_21_22["Institution"].iloc[0]

'Fudan University'

In [16]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for the year 2020-2021?

india_20_21 = rankings[ (rankings["Country"]=="India") & (rankings["Year"] == "2020-2021") ]
india_sort = india_20_21.sort_values( by = "Research Performance Rank"  )
top_five_india = list(india_sort["Institution"].iloc[0:5])
top_five_india

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [17]:
#Q11: How many institutions have rankings for all three years?

year_2019_ranking_df = rankings[ (rankings["Year"] == "2019-2020")] 
year_2020_ranking_df = rankings[ (rankings["Year"] == "2020-2021")] 
year_2021_ranking_df = rankings[ (rankings["Year"] == "2021-2022")] 

year_2019_list = list(year_2019_ranking_df["Institution"])
year_2020_list = list(year_2020_ranking_df["Institution"])
year_2021_list = list(year_2021_ranking_df["Institution"])


# citation from the internet for codes finding the intersection: https://www.adamsmith.haus/python/answers/how-to-find-the-intersection-of-two-lists-in-python
institution_2019_2020_2021 = list(set.intersection(set(year_2019_list),set(year_2020_list),set(year_2021_list)))
len(institution_2019_2020_2021)

1856

In [18]:
institutions = []

for institution in institution_2019_2020_2021: # use your output list from Q11 here
    year_2019_ranking =  rankings[ (rankings["Institution"] == institution) & (rankings["Year"] == "2019-2020")]["World Rank"]# TODO: use boolean indexing to find the "World Rank" for current institution in the year 2019
    year_2020_ranking =  rankings[ (rankings["Institution"] == institution) & (rankings["Year"] == "2020-2021")]["World Rank"]# TODO: use boolean indexing to find the "World Rank" for current institution in the year 2020
    year_2021_ranking =  rankings[ (rankings["Institution"] == institution) & (rankings["Year"] == "2021-2022")]["World Rank"]# TODO: use boolean indexing to find the "World Rank" for current institution in the year 2021

    # now let's create a dictionary representation of the institution
    # each key corresponds to the column of the DataFrame we want to build
    institution_info = {}
    institution_info['Institution'] = institution
    institution_info['2019_ranking'] = year_2019_ranking.iloc[0]
    institution_info['2020_ranking'] = year_2020_ranking.iloc[0]
    institution_info['2021_ranking'] = year_2021_ranking.iloc[0]

    institutions.append(institution_info)

institutions_df = pd.DataFrame(institutions)

In [19]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement in their "World Rank" by more than 500 ranks.

institutions_df["Differences_19_21"] = institutions_df["2019_ranking"]-institutions_df["2021_ranking"]
institution_improved_df = institutions_df[ institutions_df["Differences_19_21"]>500 ]
institution_improved = list(institution_improved_df["Institution"]) 
institution_improved

['École nationale supérieure de chimie de Montpellier',
 'Federal University of Mato Grosso do Sul',
 'International Institute for Management Development',
 'SOAS University of London',
 'USI - University of Italian Speaking Switzerland',
 'Tôn Đức Thắng University',
 'Academy of Scientific & Innovative Research',
 'Antioch College',
 'Haverford College']

In [20]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution had the largest change in its "World Rank"?

max_change = abs(institutions_df["Differences_19_21"]).max()
institution_max_change = institutions_df[ abs(institutions_df["Differences_19_21"])== max_change ]
institution_max_change["Institution"].iloc[0]

'USI - University of Italian Speaking Switzerland'

In [21]:
#Q14: For all the three years, find the number of institutions that improved their World Rank each year.

institutions_df["Differences_19_20"] = institutions_df["2019_ranking"]-institutions_df["2020_ranking"]
institutions_df["Differences_20_21"] = institutions_df["2020_ranking"]-institutions_df["2021_ranking"]

improve_everyyear_df = institutions_df[ (institutions_df["Differences_19_20"] > 0) & (institutions_df["Differences_20_21"] > 0) ]               
len(improve_everyyear_df)

451

In [22]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.


worldrankings_top_ten = year_2020_ranking_df.sort_values(by = "World Rank").iloc[0:10]
alumni_rank_sort = year_2020_ranking_df.sort_values(by = "Alumni Employment Rank")

alumni_rank_top_ten = list(set(alumni_rank_sort["Institution"].iloc[0:10]) - set(worldrankings_top_ten["Institution"]))
alumni_rank_top_ten

['University of Tokyo',
 'Institut Polytechnique de Paris',
 'China Europe International Business School',
 'HEC Paris',
 'International Institute for Management Development',
 'INSEAD',
 "École nationale d'administration"]

In [23]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to do so in the rankings of year 2021-2022.



year_2019_top100 = year_2019_ranking_df.sort_values(by = "World Rank")[0:100]
year_2021_top100 = year_2021_ranking_df.sort_values(by = "World Rank")[0:100]

# citatiion for code finding intersection://www.adamsmith.haus/python/answers/how-to-find-the-intersection-of-two-lists-in-pythone
both_year_top100_set = set.intersection(set(year_2019_top100["Institution"]),set(year_2021_top100["Institution"]))

institution_not_in_2021_top100 = list(set(year_2019_top100["Institution"]) - both_year_top100_set)


institution_not_in_2021_top100

['University of Texas MD Anderson Cancer Center',
 'Paris Diderot University',
 'University of Groningen',
 'École Polytechnique',
 'Paris-Sud University',
 'University of California San Diego',
 'Emory University',
 'Tufts University',
 'Aarhus University',
 'École Polytechnique Fédérale de Lausanne',
 'University of Utah',
 'École normale supérieure']

In [24]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings in the year 2020-2021.


year_2020_top100 = year_2020_ranking_df.sort_values(by = "World Rank")[0:100]
country_count_top100_series = year_2020_top100["Country"].value_counts()
country_count_top100 = list(country_count_top100_series[country_count_top100_series>=10].index)
country_count_top100

['USA', 'United Kingdom']

In [25]:
#Q18: Use BeautifulSoup to parse 2019-2020.html, and find the table containing the ranking data. What are the column names of this table?

html_2019_2020 = open("2019-2020.html", "r")
content_2019_2020 = html_2019_2020.read()
html_2019_2020.close()

bs_obj_2019_2020 = BeautifulSoup(content_2019_2020, 'html.parser')

table_2019_2020 = bs_obj_2019_2020.find_all("table")

header = [th.get_text() for table in table_2019_2020 for th in table.find_all("th")  ]
header

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [26]:
#Q19: Parse the contents of the table you found in 2019-2020.html and represent it as a list of dicts. What are the first 5 dictionaries in the list?

def parse_html(filename):
    html_filename = open(filename, "r")
    content_filename = html_filename.read()
    html_filename.close()
    bs_obj_filename = BeautifulSoup(content_filename, 'html.parser')
    table_filename = bs_obj_filename.find_all("table")
    header = [th.get_text() for table in table_filename for th in table.find_all("th")]
    row_list=[]
    row_filename = bs_obj_filename.find_all("tr")[1:]
    for tr in row_filename:
        values = tr.find_all("td")
        row_dict = {}
        row_dict["Year"]=filename.split(".")[0]
        for i in range(len(header)):
            text_val = values[i].text
            if text_val == "-":
                row_dict[header[i]] = None
            elif header[i] in ["World Rank", "National Rank", "Quality of Education Rank", "Alumni Employment Rank", "Quality of Faculty Rank", "Research Performance Rank"]:
                row_dict[header[i]]=int(text_val)
            elif header[i] == "Score":
                row_dict[header[i]]=float(text_val)
            else:
                row_dict[header[i]]=text_val
        row_list.append(row_dict)
    return row_list

parse_html("2019-2020.html")[0:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3}]